<!-- Head -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<style>
  nav .badge {
    position: relative;
    top: 20px;
    right: 20px;
  }
</style>
<!-- Head -->

<!-- Footer -->
<footer class="page-footer  light-blue darken-3">
    <div class="container ">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Search, Explore and Favorite</h5>
          <p class="grey-text text-lighten-4">The Largest Collection of Wine Reviews in the World. 129,971 reviews from wines originating from 44 different countries. Lovingly crafted by 20 tasters</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Pages</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Search</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Create</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Ethan Moffatt
      <a class="grey-text text-lighten-4 right" href="https://github.com/JustGinger888">Github</a>
      </div>
    </div>
  </footer>
<!-- Footer -->

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    $('.sidenav').sidenav();
    $('.modal').modal();
  });
</script>
<!-- Compiled and minified JavaScript -->